<aside class="info__content-sidebar info-sidebar">
    <nav class="info-sidebar__menu">
        <ul class="info-sidebar__list">
            <li class="info-sidebar__item">
                <a href="/payment.html" class="info-sidebar__link @@if (active==1) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-money.svg" alt="icon money">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Оплата
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/delivery.html" class="info-sidebar__link @@if (active==2) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-delivery.svg" alt="icon delivery">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Доставка
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/formalization.html" class="info-sidebar__link @@if (active==3) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-cart.svg" alt="icon cart">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Как оформить заказ
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/exchange.html" class="info-sidebar__link @@if (active==4) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-return.svg" alt="icon return">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Обмен и возврат
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/info.html" class="info-sidebar__link @@if (active==5) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-info.svg" alt="icon info">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Полезная информация
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/catalog.html" class="info-sidebar__link @@if (active==6) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-star.svg" alt="icon star">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Каталог и буклеты
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/faq.html" class="info-sidebar__link @@if (active==7) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-question.svg" alt="icon question">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Вопрос-ответ
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/privacy.html" class="info-sidebar__link @@if (active==8) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-shield.svg" alt="icon shield">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Пользовательское соглашение
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/reviews.html" class="info-sidebar__link @@if (active==9) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-message.svg" alt="icon message">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Отзывы
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/docs.html" class="info-sidebar__link @@if (active==10) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-doc.svg" alt="icon doc">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Документы
                    </span>
                </a>
            </li>
            <li class="info-sidebar__item">
                <a href="/requisites.html" class="info-sidebar__link @@if (active==11) {info-sidebar__link_active}">
                    <span class="info-sidebar__link-icon">
                        <img src="@img/icons/icon-requisites.svg" alt="icon requisites">
                    </span>
                    <span class="info-sidebar__link-caption">
                        Реквизиты
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</aside>