.popup {
	position: fixed;
	background: rgba($color: $mainColor, $alpha: 0.65);
	inset: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s linear 0s;
	z-index: 55555;
	&.open {
		opacity: 1;
		visibility: visible;
		& .popup__body {
			opacity: 1;
			transform: translateY(0);
		}
	}
	// .popup__content
	&__content {
		position: relative;
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
		opacity: 0;
		transform: translateY(-100%);
		width: 100%;
		background: #fff;
		padding: em(40) em(17);

		max-width: 744px;
		display: flex;
		flex-direction: column;
		@media (min-width: $md4) {
			padding: em(40);
			border-radius: 6px;
		}
	}
	&__close {
		&.icon-close {
			position: absolute;
			top: 32px;
			right: 32px;
			color: #64707b;
			transition: color 0.3s ease 0s;
			z-index: 2;
			font-size: 28px;
			@media (any-hover: hover) {
				&:hover {
					color: $hover;
				}
			}
		}
	}
	// .popup__succes
	&__succes {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		&::before {
			background: rgba(10, 194, 90, 0.1);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 86px;
			height: 86px;
			color: #0ac25a;
			font-size: 40px;
		}
	}
	// .popup__succes-title
	&__succes-title {
		margin: rem(32) em(0) em(0) em(0);
	}
	&__succes-number {
		margin: em(16, 18) em(0) em(0) em(0);
		font-size: 18px;
		line-height: math.div(24, 18);
		& span {
			font-weight: 600;
		}
	}
	// .popup__succes-subtitle
	&__succes-subtitle {
		margin: em(16) em(0) em(0) em(0);
		line-height: math.div(24, 16);
	}
	// .popup__succes-btn
	&__succes-btn {
		margin: rem(32) em(0) em(0) em(0);
	}
	// .popup__succes-footer
	&__succes-footer {
		margin: em(32) em(0) em(0) em(0);
		display: flex;
		align-items: center;
	}
	// .popup__succes-footer-btn
	&__succes-footer-btn {
		margin: em(0) em(32) em(0) em(0);
	}
	// .popup__succes-download
	&__succes-download {
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		font-weight: 600;
		line-height: math.div(20, 14);
		color: #319cff;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #319cff, $amount: 10);
			}
		}
		&::before {
			font-size: 20px;
			margin-right: em(6, 20);
		}
	}
	// .popup__consult
	&__consult {
		margin: em(16) em(0) em(0) em(0);
		width: 100%;
		background: #f0f4f8;
		border-radius: 6px;
		padding: em(20);
		display: flex;
		align-items: center;
	}
	// .popup__consult-thumb
	&__consult-thumb {
		flex: 0 0 81px;
		height: 81px;
		margin: em(0) em(12) em(0) em(0);
		& img {
			border-radius: 50%;
			border: 1px solid #e6eaee;
		}
	}
	// .popup__consult-content
	&__consult-content {
		flex: 1 1 auto;
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		text-align: left;
	}
	// .popup__consult-body
	&__consult-body {
	}
	// .popup__consult-name
	&__consult-name {
		font-size: 14px;
		font-weight: 600;
		line-height: math.div(20, 14);
		color: #001426;
	}
	// .popup__consult-posititon
	&__consult-posititon {
		font-size: 12px;
		line-height: math.div(16, 12);
		color: rgba($color: #001426, $alpha: 0.6);
	}
	// .popup__consult-contacts
	&__consult-contacts {
	}
	// .popup__consult-contacts-title
	&__consult-contacts-title {
		font-size: 12px;
		line-height: math.div(16, 12);
		color: rgba($color: #001426, $alpha: 0.6);
	}
	// .popup__consult-contacts-phone
	&__consult-contacts-phone {
		font-size: 14px;
		font-weight: 600;
		line-height: math.div(20, 14);
		color: #001426;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $hover;
			}
		}
	}
}
