.cart {
    padding: em(10) em(0) em(96) em(0);
    // .cart__container
    &__container {
    }
    // .cart__header
    &__header {
        margin: em(12) em(0) em(0) em(0);

        @media (min-width: $md4) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    // .cart__title
    &__title {
    }
    &__subtitle {
        margin: em(12, 12) em(0) em(0) em(0);
        font-size: 12px;
        font-weight: 600;
        line-height: math.div(16, 12);

        @media (min-width: $md4) {
            display: none;
        }
    }
    // .cart__support
    &__support {
        display: none;
        @media (min-width: $md4) {
            display: inline;
        }
        font-size: 12px;
        font-weight: 600;
        line-height: math.div(16, 12);
        color: #319cff;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: darken($color: #319cff, $amount: 10);
            }
        }
    }
    // .cart__body
    &__body {
        margin: em(32) em(0) em(0) em(0);
        display: grid;
        gap: 24px;
        @media (min-width: $md3) {
            align-items: start;
            grid-template-columns: 1fr 360px;
        }
    }
    // .cart__content
    &__content {
    }
    // .cart__side
    &__side {
        @media (min-width: $md3) {
            position: sticky;
            top: 10px;
        }
        background: #f0f4f8;
        border-radius: 6px;
        padding: em(20);
    }
    // .cart__side-items
    &__side-items {
    }
    // .cart__side-item
    &__side-item {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        line-height: math.div(20, 14);
        color: #64707b;
        &:not(:last-child) {
            margin: em(0) em(0) em(4, 14) rem(0);
        }
        &:first-child {
            font-size: 24px;
            line-height: math.div(28, 24);
            color: #001426;
            font-weight: 600;
            margin: em(0) em(0) rem(18) rem(0);
        }
    }
    // .cart__side-item-title
    &__side-item-title {
    }
    // .cart__side-item-line
    &__side-item-line {
        flex: 1 1 auto;
        border-bottom: 1px solid #e6eaee;
        margin: 0 em(3) em(3) em(3);
    }
    // .cart__side-item-value
    &__side-item-value {
    }
    // .cart__side-info
    &__side-info {
        margin: em(12) em(0) em(0) em(0);
        max-width: 240px;
    }
    // .cart__side-info-item
    &__side-info-item {
        &:not(:last-child) {
            margin: em(0) em(0) em(8) rem(0);
        }
    }
    // .cart__side-info-row
    &__side-info-row {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        line-height: math.div(20, 14);
        &:not(:last-child) {
            margin: em(0) em(0) em(4, 14) rem(0);
        }
    }
    // .cart__side-info-title
    &__side-info-title {
        margin: em(0) em(3) em(0) em(0);
    }
    // .cart__side-value
    &__side-value {
        color: #0b8aff;
    }
    // .cart__side-info-text
    &__side-info-text {
        font-size: 12px;
        font-weight: 600;
        line-height: math.div(16, 12);
        color: rgba($color: #64707b, $alpha: 0.6);
        & span {
            color: rgba($color: #001426, $alpha: 0.6);
        }
        &:not(:last-child) {
            margin: em(0) em(5) em(0) em(0);
        }
    }
    // .cart__side-checkbox
    &__side-checkbox {
        margin: em(16) em(0) em(0) em(0);
        color: #64707b;
        & > span {
            display: flex;
        }
    }
    // .cart__side-btn
    &__side-btn {
        margin: rem(16) em(0) em(0) em(0);
    }
    // .cart__side-privacy
    &__side-privacy {
        margin: em(12, 12) em(0) em(0) em(0);
        font-size: 12px;
        line-height: math.div(16, 12);
        color: rgba($color: #64707b, $alpha: 0.6);
    }
    // .cart__side-privacy-link
    &__side-privacy-link {
        color: rgba($color: #001426, $alpha: 0.6);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $hover;
            }
        }
    }
    // .cart__items
    &__items {
    }
    // .cart__item
    &__item {
        padding: em(0) em(0) em(12) em(0);
        border-bottom: 1px solid #e6eaee;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        @media (min-width: $md4) {
            padding: em(0) em(0) em(16) em(0);
            flex-wrap: nowrap;
        }
        &:not(:last-child) {
            margin: em(0) em(0) em(12) rem(0);
            @media (min-width: $md4) {
                margin: em(0) em(0) em(16) rem(0);
            }
        }
    }
    // .cart__item-thumb
    &__item-thumb {
        width: 54px;
        height: 54px;
        margin: em(0) em(10) em(0) em(0);
        @media (min-width: $md4) {
            width: 136px;
            height: 136px;
            margin: em(0) em(16) em(0) em(0);
        }
        border: 1px solid #e6eaee;
        border-radius: 6px;
        flex-shrink: 0;
    }
    // .cart__item-content
    &__item-content {
        flex: 1 1 auto;
    }
    // .cart__item-header
    &__item-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex: 0 1 calc(100% - 56px - em(10));
        @media (min-width: $md4) {
            flex: 0 1 auto;
        }
    }
    // .cart__item-title
    &__item-title {
        font-size: 13px;
        @media (min-width: $md4) {
            font-size: 14px;
        }
        font-weight: 600;
        line-height: math.div(18, 14);
        max-width: 304px;
    }
    // .cart__item-actions
    &__item-actions {
    }
    // .cart__item-action
    &__item-action {
        color: #b0b8bf;
        transition: color 0.3s ease 0s;
        &:not(:last-child) {
            margin: em(0) em(0) em(14) rem(0);
        }
        padding: em(0) em(0) em(0) em(5);
        @media (min-width: $md4) {
            padding: 0;
            &:not(:last-child) {
                margin: em(0) em(16) em(0) em(0);
            }
        }
        @media (any-hover: hover) {
            &:hover {
                color: $hover;
            }
        }
    }
    // .cart__item-body
    &__item-body {
        flex: 1 1 auto;
        margin: em(8) em(0) em(0) em(0);
    }
    // .cart__item-row
    &__item-row {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;

        margin-left: rem(-10);
        margin-right: rem(-10);
        @media (min-width: $md4) {
            align-items: flex-start;
            flex-wrap: wrap-reverse;
            margin-left: 0;
            margin-right: 0;
            &:not(:last-child) {
                margin-bottom: em(8);
            }
        }
        & > * {
            flex: 0 0 50%;
            @media (min-width: $md4) {
                flex: 0 1 auto;
            }
        }
    }
    // .cart__item-row-item
    &__item-row-item {
        align-self: flex-start;
        font-size: 12px;
        font-weight: 600;
        line-height: math.div(16, 12);
        padding: rem(5.5) rem(10);
        @media (min-width: $md4) {
            padding: 0;
            &:not(:last-child) {
                margin: em(0) em(24, 12) em(0) em(0);
            }
        }
    }
    // .cart__item-caption
    &__item-caption {
        color: #b0b8bf;
    }
    // .cart__item-value
    &__item-value {
        margin: em(2) em(0) em(0) em(0);
        color: #64707b;
    }
    // .cart__item-btn
    &__item-btn {
        margin: em(0) auto em(0) em(0);
        @media (min-width: $md4) {
            margin: em(0) em(0) em(0) auto;
        }
        flex: 0 1 auto;
    }
    // .cart__item-price
    &__item-price {
        margin: em(10) em(0) em(0) em(0);
        white-space: nowrap;
        flex: 0 1 auto;
        @media (min-width: $md5) {
            margin: 0;
        }
        @media (min-width: $md4) {
            margin: em(0) em(0) em(0) em(31, 24);
        }
        font-size: 24px;
        font-weight: 600;
        line-height: math.div(28, 24);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    // .cart__item-price-current
    &__item-price-current {
    }
    // .cart__item-price-old
    &__item-price-old {
        text-decoration: line-through;
        font-size: 14px;
        font-weight: 600;
        line-height: math.div(20, 14);
        color: #64707b;
    }
    // .cart__item-more
    &__item-more {
        cursor: pointer;
    }
    // .cart__item-more-title
    &__item-more-title {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        line-height: math.div(16, 12);
        color: #b0b8bf;
        &::before {
            transform: rotate(90deg);
            margin: em(0) em(0) em(0) em(5);
            font-size: 10px;
            order: 1;
            transition: transform 0.3s ease 0s;
        }
        &._active {
            &::before {
                transform: rotate(-90deg);
            }
        }
    }
    // .cart__item-more-body
    &__item-more-body {
    }
}

.cart-formalization {
    margin: em(56) em(0) em(0) em(0);
    // .cart-formalization__title
    &__title {
    }
    // .cart-formalization__tabs
    &__tabs {
        margin: em(15) em(0) em(0) em(0);
    }
    &__content {
        margin: em(33) em(0) em(0) em(0);
    }
    // .cart-formalization__items
    &__items {
    }
    // .cart-formalization__item
    &__item {
        &:not(:last-child) {
            margin: em(0) em(0) em(32) rem(0);
        }
    }
    &__files {
    }
    // .cart-formalization__files-header
    &__files-header {
        @media (min-width: $md5) {
            display: flex;
            align-items: center;
        }
        margin: em(0) em(0) em(16) rem(0);
    }
    // .cart-formalization__item-caption
    &__item-caption {
    }
    // .cart-formalization__item-caption
    &__item-caption {
        font-size: 18px;
        font-weight: 600;
        line-height: math.div(24, 18);
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
    }
    // .cart-formalization__types
    &__types {
        margin: em(16) em(0) em(0) em(0);
        display: grid;
        gap: 12px;
        &_grid {
            @media (min-width: $md4) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    &__types-item {
        &.active {
            background: #f0f4f8;
            border: 1px solid #319cff;
            border-radius: 6px;
            .cart-formalization__type-content {
                border: 0;
                background: none;
            }
        }
    }
    // .cart-formalization__type
    &__type {
        display: block;
    }
    // .cart-formalization__type-input
    &__type-input {
        &:checked {
            & + .cart-formalization__type-content {
                border-color: #319cff;
                background: #f0f4f8;
                &::after {
                    opacity: 1;
                }
                .question-btn {
                    background: #fff;
                    @media (any-hover: hover) {
                        &:hover {
                            background: $hover;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    // .cart-formalization__type-content
    &__type-content {
        position: relative;
        border: 1px solid #e6eaee;
        padding: em(12) em(12) em(12) em(40);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 12px;
            left: 12px;
            border: 1px solid #b0b8bf;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        &::after {
            content: "";
            position: absolute;
            top: 17px;
            left: 17px;
            width: 10px;
            height: 10px;
            background: #319cff;
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.3s ease 0s;
        }
    }
    // .cart-formalization__type-header
    &__type-header {
        display: flex;
        justify-content: space-between;
    }
    // .cart-formalization__type-title
    &__type-title {
        font-size: 14px;
        font-weight: 600;
        line-height: math.div(20, 14);
    }
    &__type-text {
        margin: em(6, 12) em(0) em(0) em(0);
        font-size: 12px;
        font-weight: 400;
        line-height: math.div(16, 12);
    }
    // .cart-formalization__type-info
    &__type-info {
    }
    // .cart-formalization__item-input
    &__item-input {
        margin: em(5);
        color: #319cff;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: darken($color: #319cff, $amount: 10);
            }
        }
    }
    // .cart-formalization__item-info
    &__item-info {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #f0f4f8;
        font-size: 10px;
        color: #319cff;
        @media (any-hover: hover) {
            &:hover {
                background: #319cff;
                color: #f0f4f8;
            }
        }
    }
    &__form-rows {
        margin: em(20) em(0) em(0) em(0);
    }
}

.type-more {
    border-top: 1px solid #b0b8bf;
    margin: 0 em(20);
    padding: em(16) em(0) em(40) em(0);
    // .type-more__section
    &__section {
        &:not(:last-child) {
            margin: em(0) em(0) em(16) rem(0);
            padding: em(0) em(0) em(16) em(0);
            border-bottom: 1px solid #b0b8bf;
        }
    }
    // .type-more__caption
    &__caption {
        font-size: 12px;
        font-weight: 600;
        line-height: math.div(16, 12);
    }
    // .type-more__subtitle
    &__subtitle {
    }
    &__items {
        margin: em(12) em(0) em(0) em(0);
    }
    &__item {
        &:not(:last-child) {
            margin: em(0) em(0) em(12) rem(0);
        }
        .form__label {
            display: inline-flex;
        }
    }
    // .type-more__companies
    &__companies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (min-width: $md4) {
            grid-template-columns: repeat(4, 1fr);
        }
        gap: 20px;
    }
    // .type-more__company
    &__company {
    }
    // .type-more__company-input
    &__company-input {
        &:checked {
            & + .type-more__company-content {
                border: 2px solid #319cff;
                color: #319cff;
            }
        }
    }
    // .type-more__company-content
    &__company-content {
        background: #ffffff;
        border: 2px solid #fff;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding: em(5) em(20);
        cursor: pointer;
        & img {
            margin: auto;
        }
    }
    // .type-more__company-name
    &__company-name {
        margin: auto em(0) em(0) em(0);
        font-size: 11px;
        font-weight: 700;
        line-height: math.div(16, 11);
        text-align: center;
    }
    &__grid {
        display: grid;

        @media (min-width: $md4) {
            grid-template-columns: repeat(2, 1fr);
        }
        gap: 14px;
        font-size: 12px;
    }
}
