@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?msg2f9');
  src:  url('fonts/icons.eot?msg2f9#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?msg2f9') format('truetype'),
    url('fonts/icons.woff?msg2f9') format('woff'),
    url('fonts/icons.svg?msg2f9#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paperclip:before {
  content: "\e926";
}
.icon-delivery:before {
  content: "\e924";
}
.icon-minus:before {
  content: "\e923";
}
.icon-delete:before {
  content: "\e925";
}
.icon-cart:before {
  content: "\e91e";
}
.icon-equals:before {
  content: "\e91f";
}
.icon-plus:before {
  content: "\e920";
}
.icon-heart:before {
  content: "\e921";
}
.icon-ruler:before {
  content: "\e922";
}
.icon-picture:before {
  content: "\e91d";
}
.icon-print:before {
  content: "\e919";
}
.icon-download:before {
  content: "\e918";
}
.icon-check:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-question:before {
  content: "\e909";
}
.icon-file:before {
  content: "\e91a";
}
.icon-copy:before {
  content: "\e912";
}
.icon-telegram:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-ok:before {
  content: "\e916";
}
.icon-vk:before {
  content: "\e917";
}
.icon-watch:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-calendar:before {
  content: "\e90b";
}
.icon-message:before {
  content: "\e90c";
}
.icon-dislike:before {
  content: "\e90d";
}
.icon-like:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e907";
}
.icon-help:before {
  content: "\e906";
}
.icon-sort:before {
  content: "\e91b";
}
.icon-star:before {
  content: "\e91c";
}
.icon-image:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-more:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-compass:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-right:before {
  content: "\e905";
}
