// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,600&display=swap);
// &display=swap&subset=cyrillic-ext
@import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Nunito Sans";
// Шрифт по умолчанию

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: 1128; // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$md0: 1599.98px;
$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 359.98px;

$mainColor: #001426;
$hover: #319cff;

// ПЕРЕМЕННЫЕ

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
body {
	font-family: $fontfamily, sans-serif;
	color: $mainColor;
	line-height: math.div(24, 16);
	&.lock {
		overflow: hidden;
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	max-width: $maxWidthContainer + px;
	box-sizing: content-box;
	padding: 0 em(16);
	&.container_sm {
		max-width: 1024px;
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

// ============= ОБЩИЕ СТИЛИ ==================================
@import "ui";
@import "forms";
// ============= ОБЩИЕ СТИЛИ ==================================

//=======================================

@import "pages/about";
@import "pages/career";
@import "pages/product";
@import "pages/prod";
@import "pages/news";
@import "pages/article";
@import "pages/info";
